# Web Server
Flask
flask-cors
gunicorn
Werkzeug

# AI & Machine Learning
tensorflow-cpu>=2.18.0
tf-explain
joblib
scikit-learn==1.6.1
numpy<2.0.0
pandas

# Image & Forensic Processing
opencv-python-headless
Pillow

# Networking & Utilities
requests
certifi
urllib3
