# Web Server
Flask
flask-cors
gunicorn
Werkzeug

# AI & Machine Learning
tensorflow-cpu==2.16.1
tf-explain
joblib
scikit-learn==1.6.1
numpy==1.26.4
pandas

# Image & Forensic Processing
opencv-python-headless
Pillow

# Networking & Utilities
requests
certifi
urllib3
